html, body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
 }
button, textarea{
    font-family: 'Arial', sans-serif !important;
}

.desktop-container{
    display: block;
}

.mobile-container {
    display: none;
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

/*shop page css*/
.shop-page{
    display: flex;
    background-color: #f9f9f9;
    min-height: 100vh;
    padding: 20px !important;
    margin-top: 30px;
}

.shop-product-grid{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 426px) {
    .shop-product-grid {
        justify-content: center;
    }
    .container {
        padding: 0 !important;
        width: 100%;}
}

@media (max-width: 768px) {
    .desktop-container{
        display: none;
    }

    .mobile-container {
        display: block;
    }

    .shop-page{
        flex-direction: column;
        padding: 0 !important;
    }
    .shop-product-grid{
        padding: 20px;
    }
}

@media (min-width: 426px) {

}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

